[submodule "libs/tracy"]
	path = libs/tracy
	url = https://github.com/wolfpld/tracy
[submodule "libs/Discregrid"]
	path = libs/Discregrid
	url = git@github.com:lasagnaphil/Discregrid
[submodule "libs/pugixml"]
	path = libs/pugixml
	url = https://github.com/zeux/pugixml
[submodule "libs/cereal"]
	path = libs/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "libs/eigen"]
	path = libs/eigen
	url = git@github.com/lasagnaphil/eigen
[submodule "libs/glm"]
	path = libs/glm
	url = git@github.com:g-truc/glm.git
[submodule "renderer/deps/libopenglrecorder"]
	path = renderer/deps/libopenglrecorder
	url = git@github.com:Benau/libopenglrecorder.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = git@github.com:fmtlib/fmt.git
[submodule "libs/tbb"]
	path = libs/tbb
	url = git@github.com:wjakob/tbb.git
