[submodule "libs/tracy"]
	path = libs/tracy
	url = https://github.com/wolfpld/tracy
[submodule "libs/Discregrid"]
	path = libs/Discregrid
	url = git@github.com:lasagnaphil/Discregrid
[submodule "libs/pugixml"]
	path = libs/pugixml
	url = https://github.com/zeux/pugixml
